{% extends "photos/base.html" %}
{% block title %}Edit{% endblock %}
{% block content %}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
  <tr>
  <td colspan=2><A HREF="{{ photo.get_largest_link }}"><IMG class="results" src="{{ photo.get_photo_link }}"/></IMG><br/>
        <div style="text-align: center">
        {{ photo.description }}
        </div>
      </A>
    </td>
  </tr>
  {% if photo.uploaded_by %}
  <tr>
    <td>By:</td>
    <td>{{ photo.uploaded_by }}</td>
  {% endif %}
  </tr>
  <tr>
    <td><label for="description">Description:</label></td>
    <td><textarea id="description" name="description" rows="4" cols="30">{{ photo.description }}</textarea></td>
</td>
  </tr>
  <tr>
    <td><label for="tags">Tags:</label></td>
    <td>
<select name="tags" id="tags" size=10 multiple>
   {% for tag in tags %}
     <option value="{{ tag.id }}" {% if tag in photo.tags.all %}selected{% endif %}> {{ tag }}</option>
   {% endfor %}
</select></td>
  </tr>
 <tr>
<td><label for="newTags">New Tags:</label></td>
<td><input type="text" id="newTags" name="newTags" size=30 placeholder="separated by space"></td>
<tr/>
<tr>
  <td colspan=2>
    <div style="text-align: center">
<input type="submit" value="Save">
</div>
</td>
</tr>
 </table>
</form>
 {% endblock %}