{% extends "photos/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<ul>
{% for team in teams %}
   <li>{{ team.name }}</li><ul>
    {% for album in team.albums %}
        {% if album.is_active %}
          <li><A href="{% url 'upload' album_id=album.id %}">{{ album.name }}</A></li>
        {% endif %}
    {% endfor %}
   </ul>
{% endfor %}
</ul>
{% if admin_teams %}
<HR>
<H2>Admin</H2>
<ul>
{% for team in admin_teams %}
<li><A href="{% url 'team_admin' team_id=team.id %}">{{ team.name }}</A></li>
{% endfor %}
</ul>
{% endif %}
<H2>Personal</H2>
<ul>
  <li><a href="{% url 'password_change' %}">Change Password</a></li>
</ul>
{% endblock %}