{% extends "photos/base.html" %}
{% block title %}Search{% endblock %}
{% block content %}

<form method="post" id="search" enctype="multipart/form-data">
{% csrf_token %}

<H1>Searching {{ album }} - <A href="{% url 'upload' album_id=album.id %}">Upload</A></H1>

<table>
  <tr>
    <td><input type="radio" id="all" name="search" value="all" checked>
  <label for="all">All</label>
  <br/><input type="radio" id="any" name="search" value="any">
  <label for="any">Any</label><br>
</td>
    <td>
<select name="include_tags" id="include_tags" size=10 multiple>
   {% for tag in tags %}
     <option value="{{ tag.id }}">{{ tag }}</option>
   {% endfor %}
</select>
<br/>
<input type="button" onclick='setAllOptions(include_tags, true)' value="All"/>  
<input type="button" onclick='setAllOptions(include_tags, false)' value="None"/>  
</td>
      <td><label for="exclude_tags">Exclude:</label></td>
    <td>
<select name="exclude_tags" id="exclude_tags" size=10 multiple>
   {% for tag in tags %}
     <option value="{{ tag.id }}">{{ tag }}</option>
   {% endfor %}
</select>
<br/>
<input type="button" onclick='setAllOptions(exclude_tags, true)' value="All"/>  
<input type="button" onclick='setAllOptions(exclude_tags, false)' value="None"/>  
</td>
<script>
  function findUntagged(){
    setAllOptions(include_tags, false);
    setAllOptions(exclude_tags, true);
    document.getElementById("search").submit();
  }
</script>
<tr>
  <td colspan=4>
    <div style="text-align: center">
<input type="submit" value="Search">
<input type="button" onclick='findUntagged()' value="Untagged"/>
</div>
</td>
</tr>
 </table>
</form>

<br/>

{% if photos %}
<table>
  <tr><th>By</th><th>Image</th><th>Tags</th></tr>
  {% for photo in photos %}
  <tr>
     <td>{% if photo.uploaded_by %} {{ photo.uploaded_by }} {% endif %}</td>
     <td><A HREF={% url 'edit' album_id=album.id photo_id=photo.id %}>
      <IMG src="{{ photo.get_photo_link }}"/></A><br/>
        <div style="text-align: center">
        {{ photo.description }}
        </div>
    </td>
     <td>
     {% for tag in photo.tags.all %}
       {{ tag }}</br>
     {% endfor %}
     </td>
  {% endfor %}
</table>
{% else %}
None matching search<br/>
{% endif %}  
{% endblock %}
