{% extends "photos/base.html" %}
{% block title %}Search{% endblock %}
{% block content %}

<form method="post" id="search" enctype="multipart/form-data">
{% csrf_token %}

<H1>Searching {{ album }} - <A href="{% url 'upload' album_id=album.id %}">Upload</A></H1>

<table>
<tr>
  <td colspan=4>
    <div style="text-align: center">
  <input type="button" onclick='findUntagged()' value="Untagged"/></div></td></tr>

  <tr>
    <td><input type="radio" id="all" name="search" value="all" {% if search == "all" %} checked {% endif %}>
  <label for="all">All</label>
  <br/><input type="radio" id="any" name="search" value="any" {% if search == "any" %} checked {% endif %}>
  <label for="any">Any</label><br>
</td>
    <td>
<select name="include_tags" id="include_tags" size=10 multiple>
   {% for tag in tags %}
     <option value="{{ tag.id }}"
     {% if tag.id in include_tags %} selected {% endif %}> {{ tag }}</option>
   {% endfor %}
</select>
<br/>
<input type="button" onclick='setAllOptions(include_tags, true)' value="All"/>  
<input type="button" onclick='setAllOptions(include_tags, false)' value="None"/>  
</td>
      <td><label for="exclude_tags">Exclude:</label></td>
    <td>
<select name="exclude_tags" id="exclude_tags" size=10 multiple>
   {% for tag in tags %}
     <option value="{{ tag.id }}"
      {% if tag.id in exclude_tags %} selected {% endif %}> {{ tag }}</option>
   {% endfor %}
</select>
<br/>
<input type="button" onclick='setAllOptions(exclude_tags, true)' value="All"/>  
<input type="button" onclick='setAllOptions(exclude_tags, false)' value="None"/>  
</td>
<script>
  function findUntagged(){
    all.checked  = true;
    setAllOptions(include_tags, false);
    setAllOptions(exclude_tags, true);
    document.getElementById("search").submit();
  }
</script>
<tr>
  <td colspan=4>
    <div style="text-align: center">
<input type="submit" value="Search">
</div>
</td>
</tr>
 </table>
</form>

<br/>
<HR/>
{% if photos %}
<H2> {{ photos.count }} photos found! </H2>

<table>
  <tr><th width=50%%>Image</th><th>Tags</th></tr>
  {% for photo in photos %}
  <tr>
     <td><A HREF={% url 'edit' album_id=album.id photo_id=photo.id %}>
      <IMG class="results" src="{{ photo.get_photo_link }}"/></A><br/>
        <div style="text-align: center">
        {{ photo.description }}
        </div>
    </td>
     <td>
     {% for tag in photo.tags.all %}
       {{ tag }}</br>
     {% endfor %}
     </td>
  {% endfor %}
</table>
{% else %}
<H2>No matching photos found</H2>
{% endif %}  
{% endblock %}
